# Use `git rm --cached <file/folder>` to remove the file or folder from the staging area and apply the skip in the .gitignore file.
# Ignore JetBrains IDE files
.idea/

# Ignore everything in the db folder under resources.flagtickgroup
!resources.flagtickgroup/db/
resources.flagtickgroup/db/import/

resources/nexus/

resources/terraform/.terraform
resources/terraform/.terraform.lock.hcl
resources/terraform/.terraform.tfstate.lock.info
resources/terraform/terraform.tfstate
resources/terraform/terraform.tfstate.backup

tools/ssh/rsa.pem
tools/ssh/rsa.pub

!tools/
tools/libraries/vendor.zip
